---
---
{{reference}}
<!-- <pre>{{ entry.bibtex }}</pre> -->

{% assign url = site.url | append:link %}
{% assign icon = 'icon-link' %}
{% assign mykey = {{entry.key | slugify}} %}
{% assign mybiburl = site.url | append:"/bibliography/bib/" | append:mykey %}

<br>
{% if link %}
  <a href="{{ url }}" title="pdf">
    <span class='icon-file-pdf'></span>
    <span class="sr-only">"pdf"</span>
  </a>
{% endif %}
<a href="{{ mybiburl }}" title="BIB">
  <span class='icon-database'></span>
  <span class="sr-only">"BIB"</span>
</a>
