---
layout: page
---
{% assign url = site.url | append:page.link %}
{% assign mykey = page.entry.key | slugify %}
{% assign mybiburl = site.url | append:"/bibliography/bib/" | append:mykey %}
<html>
<head></head>
<body>
  <p>{{ page.entry.author }}</p>
  <h2>Abstract</h2>
  <p>{{ page.entry.abstract }}</p>

  <table>
    <tr>
      <td>Publication</td>
      {% if page.entry.booktitle %}
        <td>{{ page.entry.booktitle }}</td>
      {% endif %}
      {% if page.entry.journal %}
        <td>{{ page.entry.journal }}</td>
      {% endif %}
      {% if page.entry.type contains "thesis" %}
        <td>{{ page.entry.type }}, {{ page.entry.school }}</td>
      {% endif %}
    </tr>
    <tr>
      <td>Date</td>
      <td>
        {{ page.entry.month | slice: 0 | upcase }}{{ page.entry.month | slice: 1, 2 }},
        {{ page.entry.year }}
      </td>
    </tr>
    <tr>
      <td>Links</td>
      <td>
        {% if page.link %}
          <a href="{{ url }}" title="pdf">
            <span class='icon-file-pdf'></span>
            <span class="sr-only">"pdf"</span>
          </a>
        {% endif %}
        <a href="{{ mybiburl }}" title="BIB">
          <span class='icon-database'></span>
          <span class="sr-only">"BIB"</span>
        </a>
      </td>
    </tr>
  </table>
  <a href="{{ site.url | append:"/bibliography/" }}" title="Bibliography">
    <span class='icon-undo2'></span>
    <span class="sr-only">"Teaching"</span>
  </a>
</body>
</html>
