---
layout: base
---
<style type="text/css">
ul.imgbull, ol.imgbull {
  list-style-image: url('assets/img/school.svg');
}
</style>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<article class="mypage" role="article">
  <header>
    <h1 class="page-title">{{ page.title }}</h1>
    {% include message.html text=page.description %}
  </header>

  {{ content }}

  <h3> Education </h3>
  <ul class="imgbull">
  {% for education in site.data.education %}
    <li>
      {{ education.type }} in {{ education.field }} , {{ education.date }}
      <p>{{ education.institute }}</p>
    </li>
  {% endfor %}
  </ul>

  <h3> Teaching </h3>
  <ul>
    {% for teaching in site.teaching %}
      <li>
        {{ teaching.course }}, {{ teaching.term }} {{ teaching.year }}
        <p>{{ teaching.institute }}</p>
      </li>
    {% endfor %}
  </ul>

  {% assign author = site.data.authors.first[1] | default:site.author %}
  {% if author.social or site.github_username or site.twitter_username %}
    <div class="sidebar-social">
      {% include social.html social=author.social %}
    </div>
  {% endif %}
</article>
