---
layout: page
---

<table>
  <colgroup>
    <col class="alternative">
    <col>
    <col>
  </colgroup>
  <tr>
    <td>Term</td>
    <td>{{ page.term }} {{ page.year }}</td>
  </tr>
  <tr>
    <td>Lecturer</td>
    <td>{{ page.lecturer }}</td>
  </tr>
  <tr>
    <td>Course Webpage</td>
    <td>
      <a href="{{ page.course-url }}" title="Course website">
        <span class='icon-library'></span>
        <span class="sr-only">"Course website"</span>
      </a>
    </td>
  </tr>
</table>
<a href="{{ site.url | append:"/teaching/" }}" title="Teaching">
  <span class='icon-undo2'></span>
  <span class="sr-only">"Teaching"</span>
</a>
