---
layout: page
---

<ul>
  {% for teaching in site.teaching %}
    {% assign myurl = site.url | append:teaching.url %}
    <li>
      {{ teaching.course }}, {{ teaching.term }} {{ teaching.year }}
      <p> {{ teaching.institute }} </p>
      <a href="{{ myurl }}" title="Course Details">
        <span class='icon-stack'></span>
        <span class="sr-only">"Details"</span>
      </a>
      <a href="{{ teaching.course-url }}" title="Course website">
        <span class='icon-library'></span>
        <span class="sr-only">"Course website"</span>
      </a>
    </li>
  {% endfor %}
</ul>
